{
  "USE_MOCKS": false,
  "API_BASE_URL": "<your-base-url>",
  "REACT_APP_API_KEY": "<your-react-app-api-key>",
  "WHATSAPP_MANAGER_BASE_URL": "<your-base-url>"
  "api_token": "<your_api_key>:<your_api_secret>", 
  "otp_source_number": "<your_source_number_with_country_code>", 
  "otp_destination_number": "<your_destination_number_with_country_code>"
}
